.productsPageRoot {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .filterBlock {
        height: 50px;
    }
    
    .listBlock {
        max-height: calc(100% - 70px);
        flex: 1 1 auto;
        overflow: auto;
    }
}

.productDetailsBlock {
    border-bottom: 2px solid rgba(0,0,0,0.2);
    font-weight: 500;

    &:not(.productDetailsBlock:first-child) {
        margin-top: 10px;
    }

    .label {
        color: rgba(0,0,0,0.4);
        margin-bottom: 4px;
    }
}

.paginationBlock {
    width: 100%;
}